<!DOCTYPE html>
<html>
<head>
  <title>_ARCHITEKT | Alexis Okamura</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    {{> navbar}}
    <hr class="dashed">
    {{> header}}
    <main>
      {{{body}}}
    </main>
    <hr class="solid">
    {{> footer}}
  </div>
</body>
</html>