<div class="form">
  <h1>Login to your account:</h1>

  <form action="/user/login" method="POST">
    <label>Username:</label>
    <input class="input" type="text" name="username" placeholder="username">
    <label>Password:</label>
    <input class="input" type="password" name="password" placeholder="*******">
    <input class="submit-btn blue" type="submit" value="login">
  </form>

  <hr class="solid">

  <div class="redirect">
    <p>New to _ARCHITEKT? <a href="/user/signup">Create an account.</a></p>
  </div>
</div>