<h1>Post a new photo!</h1>

<form action="/gallery" method="POST">
  <label>Title</label>
  <input type="text" name="title">

  <label>Image link</label>
  <input type="text" name="image">

  <label>Description</label>
  <input type="text" name="description">

  <input type="submit" name="send">
</form>