<h1>Edit Photo</h1>

<form action="/gallery/{{id}}" method="POST">
  <label>Title</label>
  <input type="text" name="title" placeholder="" value="">

  <label>Link</label>
  <input type="text" name="link" placeholder="" value="">

  <label>Description</label>
  <input type="text" name="description" placeholder="" value="">

  <input type="hidden" name="_method" value="PUT">
  <input type="submit" name="send">
</form>