<div class="form">
  <h1>Create your account:</h1>
  <form action="/user" method="POST">
    <label>Username:</label>
    <input class="input" type="text" name="username">
    <label>Password:</label>
    <input class="input" type="password" name="password">

    <input class="submit-btn green" type="submit" value="submit">
  </form>

  <hr class="solid">

  <div class="redirect">
    <p>Already have an account? Login <a href="/user/login">here.</a></p>
  </div>
</div>