<div class="user-photos-container">
  <h1>Your photos</h1>

  {{#each photos}}
      <div class="user-photo">
        <a href="/gallery/{{id}}">
          <div style="background:url('{{link}}'); background-size:cover;">
          </div>
        </a>
      </div>
  {{else}}
    <h3>Oops, looks like you don't have any!</h3>
    <p>Post your first picture <a href="/gallery/new">here.</a><p>
  {{/each}}
</div>