hr.solid {
  border: 0.5px solid #c7c7c7;
}

footer {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

footer > span {
  font-size: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}