$dark-grey: #7c777d;
$light-grey: #c7c7c7;

form {
  display: flex;
  flex-direction: column;
}

.input {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid $light-grey;
  color: $dark-grey;
  height: 23px;
  margin: 0.5rem 0 1.5rem;
  padding-left: 0.5rem;
}

label {
  font-weight: 800;
}

.form {
  width: 400px;
}

.form > h1 {
  margin-bottom: 2.5rem;
}

.sign-up {
  font-size: 2rem;
  margin: 2rem 0 2rem;
}

.blue {
  background-image: linear-gradient(to bottom, #3b5998, #2d4373);
}

.green {
  background-image: linear-gradient(to bottom, #54c74e, #3f963b);
}

.red {
  background-image: linear-gradient(to bottom, #c95050, #9e3e3e);
}

.submit-btn {
  border: 0;
  border-radius: 3px;
  color: white;
  height: 30px;
  margin: 0.5rem 0 1rem;
  text-transform: uppercase;
}

.redirect {
  text-align: center;
}

