$dark-grey: #7c777d;

.navbar > * {
  margin: 0 0 0 1rem;
}

.link:hover {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .navbar {
    justify-content: flex-end;
  }
}